.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bgc-color;

  .toolbar-container {
    height: 100px;
    flex-shrink: 0;
  }

  .main-container {
    flex: 1;
    display: flex;
    overflow: hidden;

    .sidebar-container {
      width: 200px;
      flex-shrink: 0;
      overflow-y: auto;

      /* 平时隐藏滚动条 */
      &::-webkit-scrollbar {
        display: none;
      }

      &:hover {

        /* hover时显示滚动条 */
        &::-webkit-scrollbar {
          display: block;
          /* 显示滚动条 */
          width: 5px;
          /* 设置滚动条宽度 */
          opacity: 1;
          /* 设置透明度为1，即完全显示 */
        }

        &::-webkit-scrollbar-thumb {
          background-color: $scroll-color;
          /* 设置滑块颜色 */
          border-radius: 5px;
          /* 设置滑块圆角 */
        }

        &::-webkit-scrollbar-track {
          background-color: none;
          /* 设置轨道颜色 */
        }
      }
      // 给滚动条预留稳定空间
      scrollbar-gutter: stable both-edges;
    }

    .canvas-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}